# T-Test

In [1]:
ages=[10,12,13,23,22,24,32,33,23,23,45,55,44,34,43,32,12,16,17,27,26,38,37,39,44,46]

In [2]:
len(ages)

26

In [4]:
import numpy as np
ages_mean=np.mean(ages)
ages_mean

29.615384615384617

#### Null Hypothesis H0: there no significant difference between the mean of two different group

In [5]:
sample_size=10
age_sample=np.random.choice(ages,sample_size)

In [6]:
age_sample

array([24, 27, 26, 33, 37, 33, 23, 33, 13, 16])

In [7]:
from scipy.stats import ttest_1samp

In [11]:
ttest,p_value=ttest_1samp(age_sample,29)

In [12]:
print(p_value)

0.33766169501842597

In [13]:
if p_value<0.05:
    print("Reject H0")
else:
    print("Retain H0")

Retain H0

# Example2

In [14]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math

In [19]:
np.random.seed(6)
school_ages=stats.poisson.rvs(loc=18,mu=35,size=1500)
classA_ages=stats.poisson.rvs(loc=18,mu=30,size=60)

In [20]:
classA_ages.mean()

46.9

In [21]:
classA_ages

array([52, 46, 40, 40, 47, 50, 51, 45, 44, 52, 46, 53, 43, 44, 51, 50, 54,
       42, 54, 45, 61, 53, 49, 46, 47, 41, 45, 51, 43, 45, 48, 50, 40, 52,
       44, 55, 54, 40, 45, 46, 54, 42, 46, 35, 51, 51, 46, 48, 47, 35, 52,
       52, 39, 44, 48, 40, 42, 46, 47, 45])

In [22]:
_,p_value=stats.ttest_1samp(a=classA_ages,popmean=school_ages.mean()) # single tailed test

In [23]:
p_value

1.139027071016194e-13

In [25]:
if p_value<0.05:
    print("Reject H0")
else:
    print("Retain H0")

Reject H0

In [26]:
np.random.seed(6)
classB_ages=stats.poisson.rvs(loc=18,mu=33,size=60)
classB_ages.mean()

50.483333333333334

In [28]:
_,p_value=stats.ttest_ind(a=classA_ages,b=classB_ages,equal_var=False) #Two-tailed test

In [29]:
if p_value<0.05:
    print("Reject H0")
else:
    print("Retain H0")

Reject H0

# Paired T-test

_when you want to check how different samples from the same group are, you can go for a paired test_

In [31]:
weight1=[10,12,13,23,22,24,32,33,23,23,45,55,44,34,43,32,12,16,17,27,26,38,37,39,44,46]
weight2=weight1+stats.norm.rvs(scale=5,loc=1.25,size=26)

In [32]:
print(weight1)
print(weight2)

[10, 12, 13, 23, 22, 24, 32, 33, 23, 23, 45, 55, 44, 34, 43, 32, 12, 16, 17, 27, 26, 38, 37, 39, 44, 46]
[14.46650723 11.01052476 25.94517114 22.68338568 22.95191218 26.22084166
 34.68439649 34.50929846 24.50775472 23.15206373 43.48371751 54.38044565
 39.32791571 32.60913411 40.93233056 31.08131758 11.02377963 16.54020387
 20.51200471 26.70268717 27.70398482 40.60133295 36.67754087 39.52512212
 47.02685282 38.75540206]

In [33]:
weight_df=pd.DataFrame({"weight_10":np.array(weight1),"weight_20":np.array(weight2),"weight_change":np.array(weight2)-np.array(weight1)})

In [34]:
weight_df

    weight_10  weight_20  weight_change
0          10  14.466507       4.466507
1          12  11.010525      -0.989475
2          13  25.945171      12.945171
3          23  22.683386      -0.316614
4          22  22.951912       0.951912
5          24  26.220842       2.220842
6          32  34.684396       2.684396
7          33  34.509298       1.509298
8          23  24.507755       1.507755
9          23  23.152064       0.152064
10         45  43.483718      -1.516282
11         55  54.380446      -0.619554
12         44  39.327916      -4.672084
13         34  32.609134      -1.390866
14         43  40.932331      -2.067669
15         32  31.081318      -0.918682
16         12  11.023780      -0.976220
17         16  16.540204       0.540204
18         17  20.512005       3.512005
19         27  26.702687      -0.297313
20         26  27.703985       1.703985
21         38  40.601333       2.601333
22         37  36.677541      -0.322459
23         39  39.525122       0.525122
24         44  47.026853       3.026853
25         46  38.755402      -7.244598

In [35]:
_,p_value=stats.ttest_rel(a=weight1,b=weight2)

In [36]:
if p_value<0.05:
    print("Reject H0")
else:
    print("Retain H0")

Retain H0